// @import './reset.scss';

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

ol,
#api-form {
    width: 600px;
}

#api-form {
    border: solid 1px black; 
    padding: 10px; 
    border-radius: 6px;
}

#api-url-input, #options-input, #form-btn {
    width: calc(100% - 24px);
    margin: 2px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: none;
}

#form-btn {
    width: 100px;
    background-color: skyblue;
}


// pre, code {
//     all: unset;
//     width: 600px;
// }

// code {
//     color: black;
// }

pre {
    width: calc(600px - 3px) !important;
    height: 300px !important;
    margin: 0 !important;
    margin-top: 5px !important;
    overflow: scroll;
}

code {
    all:unset
}